.updatePassword_form_container {
  padding-left: 100px;
  padding-top: 30px;
}

.updatePassword_form_container img {
  cursor: pointer;
}

.updatePassword_form_container h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 130px;
  color: #1c1c1e;
}

.updatePassword_form_container p:nth-child(3) {
  font-size: 14px;
  color: #9496a8;
  margin-top: 20px;
}

.updatePassword_form_container div:nth-child(4) {
  margin-top: 35px;
}

.updatePassword_form_container div:nth-child(5) {
  margin-top: 15px;
}

.updatePassword_form_container div:nth-child(6) {
  margin-top: 15px;
}

.updatePassword_form_container div:nth-child(7) {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.updatePassword_form_container div:nth-child(8) {
  margin-top: 30px;
  text-align: center;
}

.updatePassword_form_container div:nth-child(9) {
  margin-top: 30px;
  text-align: center;
  color: #9496a8;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .updatePassword_form_container {
    padding: 30px;
  }
}
