.forgetPassword_form_container {
  padding-left: 100px;
  padding-top: 30px;
}

.forgetPassword_form_container h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 140px;
  color: #1c1c1e;
}

.forgetPassword_form_container p:nth-child(3) {
  font-size: 14px;
  color: #9496a8;
  margin-top: 20px;
}

.forgetPassword_form_container div:nth-child(4) {
  margin-top: 30px;
}

.forgetPassword_form_container div:nth-child(5) {
  margin-top: 30px;
}

.forgetPassword_form_container div:nth-child(6) {
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}

.forgetPassword_form_container div:nth-child(6) div:nth-child(2) {
  margin-top: 10px;
  color: #20c3ff;
  font-size: 14px;
  cursor: pointer;
}

.forgetPassword_form_container div:nth-child(7) {
  margin-top: 20px;
}

.forgetPassword_form_container div:nth-child(8) {
  margin-top: 25px;
  text-align: center;
  color: #9496a8;
  font-size: 14px;
}

.forgetPassword_form_container div:nth-child(8) span {
  color: #20c3ff;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .forgetPassword_form_container {
    padding: 30px;
  }
}
