.resetPassword_form_container {
  padding-left: 100px;
  padding-top: 30px;
}

.resetPassword_form_container h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 130px;
  color: #1c1c1e;
}

.resetPassword_form_container p:nth-child(3) {
  font-size: 14px;
  color: #9496a8;
  margin-top: 20px;
}

.resetPassword_form_container div:nth-child(4) {
  margin-top: 35px;
}

.resetPassword_form_container div:nth-child(5) {
  margin-top: 15px;
}

.resetPassword_form_container div:nth-child(6) {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.resetPassword_form_container div:nth-child(7) {
  margin-top: 30px;
  text-align: center;
}

.resetPassword_form_container div:nth-child(8) {
  margin-top: 30px;
  text-align: center;
  color: #9496a8;
  font-size: 14px;
}

.resetPassword_form_container div:nth-child(8) span {
  color: #20c3ff;
  font-size: 14px;
}
